SECRET_KEY= # your secret key

DEBUG=

# Database parameters
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

LOCATION='redis://'

STRIPE_API_KEY=
CELERY_RESULT_BACKEND=
CELERY_BROKER_URL=